[Unit]
Description=Conference Badge
After=network.target

[Service]
WorkingDirectory=~
ExecStart=/home/pi/wqms
Restart=always
RestartSec=5
User=pi
Group=pi

[Install]
WantedBy=multi-user.target
