<form action="" class="space-y-3">
    <div>
        <h1 class="font-bold text-lg md:text-xl xl:text-2xl tracking-tight">
            Login
        </h1>
    </div>
    <div class="space-y-2">
        <label for="email" class="block font-medium tracking-tight">Email</label>
        <input id="email" type="email"
            class="w-full border border-gray-400 text-gray-800 placeholder-gray-400 rounded focus:border-transparent focus:outline-none focus:shadow-outline px-3 py-2"
            placeholder="admin@tailwindesign.com" />
        <span class="text-xs text-red-500">Email is required</span>
    </div>
    <div class="space-y-2">
        <label for="password" class="block font-medium tracking-tight">Password</label>
        <input id="password" type="password"
            class="w-full border border-gray-400 text-gray-800 placeholder-gray-400 rounded focus:border-transparent focus:outline-none focus:shadow-outline px-3 py-2"
            placeholder="*********" />
        <span class="text-xs text-red-500">Password is required</span>
    </div>
    <div class="flex justify-end">
        <button type="button"
            class="inline-flex items-center text-white px-5 py-2 rounded-lg overflow-hidden focus:outline-none bg-indigo-500 hover:bg-indigo-600 font-semibold tracking-tight">
            Login
        </button>
    </div>
</form>