{{#*inline "page"}}

  {{#if props}}
    <div class="relative md:pt-32 pb-32 pt-12">
      <div class="px-4 md:px-10 mx-auto w-full">
        <div>
          <div class="flex flex-wrap">
            {{#each props}}
              <div class="w-full lg:w-6/12 xl:w-3/12 px-4 py-4">
                <div class="relative flex flex-col min-w-0 break-words bg-white rounded mb-6 xl:mb-0 shadow-lg">
                  <a class="text-gray-800 hover:text-gray-600 text-xs uppercase py-3 font-bold block" href="/props/{{this.id}}">
                    <div class="flex-auto p-4">
                      <div class="flex flex-wrap">
                        <div class="relative w-full pr-4 max-w-full flex-grow flex-1">
                          <span class="font-semibold text-xl text-gray-800">
                            {{this.value}}
                          </span>
                          <h5 class="text-gray-500 uppercase font-bold text-xs">
                            {{this.path}}
                          </h5>
                        </div>
                        {{!-- <div class="relative w-auto pl-4 flex-initial">
                          <div
                            class="text-white p-3 text-center inline-flex items-center justify-center w-12 h-12 shadow-lg rounded-full bg-red-500">
                            <i class="far fa-chart-bar"></i>
                          </div>
                        </div> --}}
                      </div>
                      {{!-- <p class="text-sm text-gray-500 mt-4">
                        <span class="text-green-500 mr-2">
                          <i class="fas fa-arrow-up"></i> 3.48%
                        </span>
                        <span class="whitespace-no-wrap">
                          Since last month
                        </span>
                      </p> --}}
                    </div>
                  </a>
                </div>
              </div>
            {{/each}}
          </div>
        </div>
      </div>
    </div>
    </div>
  {{/if}}

  {{!-- <a href="/channels/new">Create new city</a> --}}



{{/inline}}
{{! remove whitespaces with ~ }}
{{~> (parent)~}}